---
---

@import "{{ site.theme }}";

/* remove footer */
footer {
  display: none;
}

/* tighten profile spacing */
.site-logo {
  margin-bottom: 6px;
}

.site-description {
  margin-top: 0;
}

/* round image */
.site-logo img {
  border-radius: 50%;
  width: 120px;
}

